<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Match</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Football Site</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="matches.html">Matches</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="standings.html">Standings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="teams.html">Teams</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="league.html">Leagues</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="countries.html">Countries</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="news.html">News</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <h1>Add Match</h1>
    <form id="formMatch" th:action="@{/saveMatch/{leagueId}(leagueId=${leagueId})}" th:object="${match}" method="post">
        <input type="hidden" name="leagueId" th:value="${leagueId}" />

        <div class="form-group">
            <label for="homeTeam">Home Team:</label>
            <select id="homeTeam" name="homeTeam.id" class="form-control">
                <!-- Iterate over home teams and populate options -->
                <option th:each="team : ${homeTeams}" th:value="${team.id}" th:text="${team.name}"></option>
            </select>
        </div>

        <div class="form-group">
            <label for="awayTeam">Away Team:</label>
            <select id="awayTeam" name="awayTeam.id" class="form-control">
                <!-- Iterate over away teams and populate options -->
                <option th:each="team : ${awayTeams}" th:value="${team.id}" th:text="${team.name}"></option>
            </select>
        </div>

        <div class="form-group">
            <label for="homeTeamScore">Home Score:</label>
            <input type="number" id="homeTeamScore" name="homeTeamScore" class="form-control"  />
        </div>

        <div class="form-group">
            <label for="awayTeamScore">Away Score:</label>
            <input type="number" id="awayTeamScore" name="awayTeamScore" class="form-control"/>
        </div>

        <div class="form-group">
            <label for="date">Date:</label>
            <input type="date" id="date" name="date" class="form-control" required="required" />
        </div>
        <span id="error" style="color: red;"></span>
        <p></p>
        <div>
            <button id="submit" type="submit" class="btn btn-primary">Save Match</button>
        </div>

    </form>

</div>
<script>
    document.querySelector("#formMatch").addEventListener("submit", function(event) {
        var homeTeam = document.querySelector("#homeTeam").value;
        var awayTeam = document.querySelector("#awayTeam").value;
        var dateInput = new Date(document.querySelector("#date").value);
        var today = new Date();
        today.setHours(0, 0, 0, 0);
        var homeTeamScore = document.querySelector("#homeTeamScore").value;
        var awayTeamScore = document.querySelector("#awayTeamScore").value;
var errorSpan = document.querySelector("#error");

        if (homeTeam === awayTeam) {
            event.preventDefault();  // Prevents form submission
             errorSpan.textContent = "Home team and away team are equal. Please make sure they are not the same!";   // Shows an error message
        } else if (dateInput > today && (homeTeamScore || awayTeamScore)) {
            event.preventDefault();
             errorSpan.textContent = "You can't add scores for future matches!";
        }
    });
</script>

</body>
</html>
