<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Football Site</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="matches.html">Matches</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="standings.html">Standings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="teams.html">Teams</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="league.html">Leagues</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="countries.html">Countries</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="news.html">News</a>
            </li>
        </ul>
    </div>
</nav>

<form action="/matchesByDate" method="get">
    <label for="date">Date:</label>
    <input type="date" id="date" name="date" required="required">
    <input type="submit" value="Submit">
</form>

<h1>All Matches</h1>
<div th:each="match : ${matches}">
    <!-- Display match details -->
    <p th:text="${match.homeTeam.name} + ' vs ' + ${match.awayTeam.name} + ' ' + ${match.homeTeamScore} + ':' + ${match.awayTeamScore}"></p>
</div>

</body>
</html>