<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>League Teams</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div class="container mt-4">
    <div class="row">
        <div class="col">
            <h1 class="text-center mb-4" th:text="${league.name}"></h1>
        </div>
    </div>

        <div class="row">
            <div class="col">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Position</th>
                        <th>Team Name</th>
                        <th>MP</th>
                        <th>P</th>
                        <th>W</th>
                        <th>D</th>
                        <th>L</th>
                        <th>GS</th>
                        <th>GC</th>
                        <th>GD</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="team, i : ${teams}">
                        <td th:text="${i.count}"></td>
                        <td th:text="${team.name}"></td>
                        <td th:text="${team.matchesPlayed}"></td>
                        <td th:text="${team.points}"></td>
                        <td th:text="${team.wins}"></td>
                        <td th:text="${team.draws}"></td>
                        <td th:text="${team.losses}"></td>
                        <td th:text="${team.goalsFor}"></td>
                        <td th:text="${team.goalsAgainst}"></td>
                        <td th:text="${team.goalDifference}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</body>
</html>
