<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${team.name}"></title>
    <!-- Add Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<h1 th:text="${team.name}"></h1>
<div class="btn-group" role="group">
    <button type="button" class="btn btn-secondary" onclick="showSection('summary')">Summary</button>
    <button type="button" class="btn btn-secondary" onclick="showSection('results')">Results</button>
    <button type="button" class="btn btn-secondary" onclick="showSection('fixtures')">Fixtures</button>
    <button type="button" class="btn btn-secondary" onclick="showSection('standings')">Standings</button>
    <button type="button" class="btn btn-secondary" onclick="showSection('players')">Players</button>
</div>

<div id="summary" class="team-section">
    <h2>Last Five Matches</h2>
    <div th:each="match : ${lastFiveMatches}">
        <p th:text="${match.homeTeam.name} + ' ' + ${match.homeTeamScore} + ' - ' + ${match.awayTeamScore} + ' ' + ${match.awayTeam.name} + ' on ' + ${#temporals.format(match.date, 'yyyy-MM-dd')}"></p>
    </div>
</div>

<div id="results" class="team-section" style="display: none;">
    <h2>All Previous Matches</h2>
    <div th:each="match : ${allPreviousMatches}">
        <p th:text="${match.homeTeam.name} + ' ' + ${match.homeTeamScore} + ' - ' + ${match.awayTeamScore} + ' ' + ${match.awayTeam.name} + ' on ' + ${#temporals.format(match.date, 'yyyy-MM-dd')}"></p>
    </div>
</div>

<div id="fixtures" class="team-section" style="display: none;">
    <h2>Upcoming Matches</h2>
    <div id="matchContainer">
        <div th:each="match : ${firstFiveMatches}">
            <p th:text="${match.homeTeam.name} + ' vs ' + ${match.awayTeam.name} + ' on ' + ${#temporals.format(match.date, 'yyyy-MM-dd')}"></p>
        </div>
    </div>

    <div id="allMatches" style="display: none;">
        <div th:each="match : ${allUpcomingMatches}">
            <p th:text="${match.homeTeam.name} + ' vs ' + ${match.awayTeam.name} + ' on ' + ${#temporals.format(match.date, 'yyyy-MM-dd')}"></p>
        </div>
    </div>
    <button id="show-more" type="button" class="btn btn-secondary" onclick="loadAllMatches()">Show more</button>
    <button id="show-less" type="button" class="btn btn-secondary" style="display: none" onclick="loadLessMatches()">Show less</button>
</div>
        <div id="standings" class="team-section" style="display: none;">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Position</th>
            <th>Team Name</th>
            <th>P</th>
            <th>W</th>
            <th>D</th>
            <th>L</th>
            <th>GS</th>
            <th>GC</th>
            <th>GD</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="team, i : ${teams}">
            <td th:text="${i.count}"></td>
            <td th:text="${team.name}"></td>
            <td th:text="${team.points}"></td>
            <td th:text="${team.wins}"></td>
            <td th:text="${team.draws}"></td>
            <td th:text="${team.losses}"></td>
            <td th:text="${team.goalsFor}"></td>
            <td th:text="${team.goalsAgainst}"></td>
            <td th:text="${team.goalDifference}"></td>
        </tr>
        </tbody>
    </table>



</div>

<div id="players" class="team-section" style="display: none;">
    <h2>Players</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Nationality</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="player : ${players}">
            <td th:text="${player.firstName}"></td>
            <td th:text="${player.lastName}"></td>
            <td th:text="${player.nationality.name}"></td>
            <td>
                <a th:href="@{/players/edit/{id}(id=${player.id})}" class="btn btn-info">Edit</a>
                <a th:href="@{/players/delete/{id}(id=${player.id})}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

    <a th:href="@{/createPlayer/{teamId}(teamId=${team.id})}" class="btn btn-primary">Add New Player</a>
</div>

<!-- Add Bootstrap and jQuery JavaScript -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script type="text/javascript">
        function showSection(sectionId) {
            // Hide all sections
            var sections = document.getElementsByClassName('team-section');
            for (var i = 0; i < sections.length; i++) {
                sections[i].style.display = 'none';
            }
            // Show the selected section
            document.getElementById(sectionId).style.display = 'block';
        }
</script>

<script>
   function loadAllMatches() {
    document.getElementById('matchContainer').style.display = 'none';
    document.getElementById('allMatches').style.display = 'block';
    document.getElementById('show-more').style.display = 'none';  // hide 'show-more' button
    document.getElementById('show-less').style.display = 'block';  // show 'show-less' button
}

function loadLessMatches() {
    document.getElementById('matchContainer').style.display = 'block';
    document.getElementById('allMatches').style.display = 'none';
    document.getElementById('show-more').style.display = 'block';  // show 'show-more' button
    document.getElementById('show-less').style.display = 'none';  // hide 'show-less' button
}


</script>
</body>
</html>
